.center{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.background{
    background-image: url("/home/erick/Documents/project-2/image/landing.jpg");

}
.float  {
  float: left;
}
.size{
  margin-top: -10px;
}
.happy{
  align-items: center;
  height:100px;
  margin-right: 120px;
}
.move{
  margin-top: -10px;
}


#firstfood{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
}
.lorem{
  float: left;
  font-size: 12px;
}
.ipsum{
  float: right;
  font-size: 13px;
  padding-right: 200px;
}
.one:Hover{
  font-size: 25px;
  background-color: orange;
}
.two:Hover{
  font-size: 30px;
  background-color: orange;
}
#drinks{
    border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2

}
