.center{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.background{
    background-image: url("/home/erick/Documents/project-2/image/landing.jpg");

}
.float  {
  float: left;
}
.size{
  margin-top: -10px;
}
.happy{
  align-items: center;
  height:100px;
  margin-right: 120px;
}
.move{
  margin-top: -10px;
}


#firstfood{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
}
.lorem{
  float: left;
  font-size: 12px;
}

.ipsum{
  float: right;
  font-size: 13px;
  padding-right: 200px;
}
.one:Hover{
  font-size: 20px;
  background-color: orange;
}
.two:Hover{
  font-size: 30px;
  background-color: orange;
}
#drinks{
    border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2

}
.place{
  align: center;
}
.back{
    background-image: url("/home/erick/Documents/project-2/image/foodsBg.jpg");
background-image: 100%;
}
.form{
  background-color: white;
}
#form{
  margin-left: 150px;
}
.topnav {
    background-color: lightgrey;
    overflow: hidden;
    margin-right: 100px ;
  }
  .topnav a {
    float: left;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: black;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
      color: lightgrey;
    }
    .topnav a.active {
    background-color:lightgrey;
    color: white;
  }
