.center{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.text{
font-size: 21px;
}

}
.stage{
  background-image: url("/home/erick/Documents/project-2/image/landing.jpg");
  margin-bottom: 10em;
}
.size{
  margin-bottom: 10em;
}

.space{
  margin-top: 18em;
}
.margin{
    margin-top: 5em;

}

.float  {
  float: left;
}
.background{
  background-image: url("/home/erick/Documents/project-2/image/landing.jpg");
}
.happy{
  align-items: center;
  height:100px;
  margin-right: 120px;
}
.move{
  margin-top: -10px;
}


#firstfood{
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
}
.lorem{
  float: left;
  font-size: 12px;
}

.ipsum{
  float: right;
  font-size: 13px;
  padding-right: 200px;
}
.one:Hover{
  font-size: 30px;
  background-color: orange;
  padding-left: 1em;

}
.one{
  font-size: 45px;
  background-color: grey;

}
.two{
    font-size: 45px;
    text-align: center;
    margin-top: 1em;
    background-image: url("/home/erick/Documents/project-2/image/landing.jpg");
}
.two:Hover{
  font-size: 30px;
  background-color: orange;
}
#drinks{
    border-style: solid;
  border-color: #FFFFFF;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2

}
.place{
  align: center;
}
.back{
    background-image: url("/home/erick/Documents/project-2/image/foodsBg.jpg");
}
.form{
  background-color: white;
  padding-bottom: 9px;
  padding-top: 9px;

}
#form{
  margin-left: 80px;
  margin-right:100px ;


}
.topnav {
    background-color: lightgrey;
    overflow: hidden;
    margin-top: 30px;

  }
  .topnav a {
    float: left;
    color: black;
    text-align: left;
    padding: 10px  90px;
    text-decoration: black;
    font-size: 18px;
    height: 70%
  }
  .topnav a:hover {
    background-color:  white;
      color: red;
    }
    .topnav a.active {
    background-color:white;
    color: red;
  }
.scoot{
  margin-top: 50px;
  margin-bottom: 50px;
}
.col-md-4{
  padding-left: 10%
}
.red{
  color: red;
  text-align: center;
  margin-top: 30px;
}
#border{
  border-style: solid;
  border-color: white;
  border-left-width: 20px;
  box-shadow: 0 0 10px 10px;
  margin-top:50px;
  margin-bottom: 100px;
  padding-left: 100px;
  margin-;
}

.subscribe{
  background-image: url("/home/erick/Documents/project-2/image/subscribe.jpg");
}
.trap{

  color: white;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
